[defaults]
forks = 2000
host_key_checking = False
gathering = smart
fact_caching = pickle
#callback_whitelist = timer, profile_tasks
deprecation_warnings=false
inject_facts_as_vars=false
#artifacts = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
