[defaults]
forks = 2000
host_key_checking = False
gathering = smart
fact_caching = memory
collections_paths = ./collections
#callback_whitelist = timer, profile_tasks
deprecation_warnings=false
inject_facts_as_vars=false
#artifacts = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=600s -o UpdateHostKeys=no -o ConnectTimeout=30
control_path = /tmp/panshi-cp/%%%%h-%%%%p-%%%%r
pipelining = True
timeout = 30